<div class="login-box">
  <div class="login-logo">
    <b>Forgot Password ?</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

                <ul>
                    {{#each errors}}
                        <li>
                          {{this}}
                        </li>
                    {{/each}}
                  </ul>
                  <form  action="/admin/forgotPassword" method="post">
                      <div class="form-group">
                          <label for="inputEmail">Email</label>
                          <input type="email" class="form-control input-lg" id="inputEmail" placeholder="e.g. name@example.com ..." name="email">
                      </div>

                      <button type="submit" class="btn btn-primary btn-block btn-lg">SUBMIT</button>
                      <input type="hidden" name="_csrf" value="{{ _csrf }}" />
                  </form>


    <!-- /.social-auth-links -->


  </div>
  <!-- /.login-box-body -->
</div>
