<div class="login-box">
  <div class="login-logo">
    <b>Your Password has been changed</b>
    <div class="login-box-body">
    <a href="/admin/login" class="btn btn-primary btn-block btn-flat">Click here to login</a>
  </div>
  </div>
  <!-- /.login-box-body -->
</div>
