<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       Team member
       <small>Add</small>
     </h1>

   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-md-12">
         <form role="form" method="post" action="">
           <div class="box">
             <div class="box-header">
               <h3 class="box-title">Structure
               </h3>
               <!-- /. tools -->
             </div>
             <!-- /.box-header -->
             <div class="box-body pad">

                  <div class="form-group">
                    <label for="NoOfConsultants">No of consultants</label>
                    <input type="number" class="form-control" id="NoOfConsultents" placeholder="Enter no." name="NoOfConsultents">
                  </div>
                  <div class="form-group">
                    <label for="NoOfServicesProvided">No of services provided</label>
                    <input type="number" class="form-control" id="NoOfServicesProvided" placeholder="Enter no." name="NoOfServicesProvided">
                  </div>
                  <div class="form-group">
                    <label for="NoOfServicesProvided">No of services provided</label>
                  <textarea id="editor1" name="editor1" rows="10" cols="80">
                                          This is my textarea to be replaced with CKEditor.
                  </textarea>
                </div>

             </div>
           </div>

         <!-- /.box -->


         <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
         </form>
       </div>
       <!-- /.col-->
     </div>
     <!-- ./row -->
   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->
