
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/images/profile.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{req.user.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/images/profile.jpg" class="img-circle" alt="User Image">

                <p>
                  {{req.user.name}}
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer">

                <div class="pull-right">
                  <a href="/admin/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/images/profile.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{req.user.name}}</p>
        </div>
      </div>
      <!-- search form -->

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="/admin/dashBoard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="active treeview">
          <a href="/admin/aboutCompany">
            <i class="fa fa-dashboard"></i> <span>About Company</span>
          </a>
        </li>
        <li class="active treeview">
          <a href="/admin/companyAddress">
            <i class="fa fa-dashboard"></i> <span>Addresses</span>
          </a>
        </li>
        <li class="active treeview">
          <a href="/admin/team">
            <i class="fa fa-dashboard"></i> <span>Team</span>
          </a>
        </li>
        <li class="active treeview">
          <a href="/admin/companyNews">
            <i class="fa fa-dashboard"></i> <span>News & Updates</span>
          </a>
        </li>
        <li class="active treeview">
          <a href="/admin/companyFaqs">
            <i class="fa fa-dashboard"></i> <span>Faq's</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
