
<!--Start header-search  area-->
<section class="header-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="search-form pull-right">
                    <form action="#">
                        <div class="search">
                            <input type="search" name="search" value="" placeholder="Search Something">
                            <button type="submit"><span class="flaticon-magnifying-glass"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End header-search  area-->

<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="/"><img src="/Statistic/img/resources/logo.png" alt="Awesome Logo"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <ul class="contact-info">
                    <li>
                        <div class="icon-holder">
                            <span class="flaticon-signs"></span>
                        </div>
                        <div class="content">
                            <h5>008 City of Work ,<br>New York, NY 641109 US.</h5>
                        </div>
                    </li>
                    <li>
                        <div class="icon-holder">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="content">
                            <h5>Mon - Sat 8.00 - 20.00 <br>Sunday CLOSED</h5>
                        </div>
                    </li>
                    <li class="pdleft">
                        <div class="icon-holder">
                            <span class="flaticon-phone-call"></span>
                        </div>
                        <div class="content">
                            <h5>+1 888 122 9000<br>Call us for enquiry</h5>
                        </div>
                    </li>
                    <li class="request">
                        <a class="request-quote hvr-sweep-to-bottom" href="/admin/login">Admin Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--End header area-->

<!--Start mainmenu area-->
<section class="mainmeu-area stricky">
    <div class="container">
        <nav class="main-menu pull-left">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse clearfix">
                <ul class="navigation">
                    <li class="current"><a href="index.html">Home</a></li>
                    <li class="dropdown"><a href="about.html">About us</a>
                        <ul>
                            <li><a href="company-history.html">Company History</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="client-feedback.html">Client Feedback</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="services.html">Services</a>
                        <ul>
                            <li><a href="services.html">MBBS consultancy</a></li>
                            <li><a href="restructuring-turnaround.html">Job consultancy</a></li>
                        </ul>
                    </li>

                    <li><a href="blog-list.html">News</a></li>

                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="applyOnline.html">Apply Online</a></li>
                </ul>
            </div>
        </nav>
        <div class="social-links pull-right">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </div>
</section>
<!--End mainmenu area-->
