
<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget Statistic-pdbottom">
                    <div class="footer-logo">
                        <img src="/Statistic/img/resources/footer-logo.png" alt="Awesome Footer Logo">
                    </div>
                    <div class="statistic-info">
                        <p>Statistic Company provide expert consulting, financial advice. Over 25 years of experience we ensure you always getting the good guidance from the top people in the entire of finance industry.</p>
                    </div>
                    <ul class="footer-social-links">
                        <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget project-pdbottom">
                    <div class="title">
                        <h3>Latest Updates</h3>
                    </div>
                    <ul class="latest-project">
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/1.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="project-single.html"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/2.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="project-single.html"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/3.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="project-single.html"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/4.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="project-single.html"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/5.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="project-single.html"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/6.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="project-single.html"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget project-pdbottom">
                    <div class="title">
                        <h3>Our Team </h3>
                    </div>
                    <ul class="latest-project">
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/1.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/2.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/3.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/4.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/5.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="/Statistic/img/footer/latest-project/6.jpg" alt="Awesome Image">
                                <div class="overlay">
                                    <div class="box">

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget">
                    <div class="contact-address">
                        <div id="contact-address-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#contact-address-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#contact-address-carousel" data-slide-to="1"></li>
                                <li data-target="#contact-address-carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="single-contact-address">
                                        <ul>
                                           <li class="title">United States Office</li>
                                            <li>
                                                <div class="icon-holder map">
                                                    <span class="flaticon-signs"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>008 City of Work ,<br>New York, NY 641109 US.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-phone-call"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Call us: +3257 700 1430</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-e-mail-envelope"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mail us : USA@Statistic.com</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-clock"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mon - Sat 9.00 - 20.00,<br>Sunday CLOSED</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single-contact-address">
                                        <ul>
                                           <li class="title">United Kingdom Office</li>
                                            <li>
                                                <div class="icon-holder map">
                                                    <span class="flaticon-signs"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>008 City of Work ,<br>New York, NY 641109 US.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-phone-call"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Call us: +3257 700 1430</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-e-mail-envelope"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mail us : USA@Statistic.com</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-clock"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mon - Sat 9.00 - 20.00,<br>Sunday CLOSED</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="single-contact-address">
                                        <ul>
                                           <li class="title">United Arab Office</li>
                                            <li>
                                                <div class="icon-holder map">
                                                    <span class="flaticon-signs"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>008 City of Work ,<br>New York, NY 641109 US.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-phone-call"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Call us: +3257 700 1430</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-e-mail-envelope"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mail us : USA@Statistic.com</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-clock"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mon - Sat 9.00 - 20.00,<br>Sunday CLOSED</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div class="copyright-text">
                    <p>© 2016 Statistic Theme Designed by <a href="">Steelthemes</a></p>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <ul class="footer-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="blog.html">news</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
