
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/history.jpg);">
	<div class="container text-center">
		<h1>About Sanjeewni Global</h1>
		<span class="border"></span>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="/aboutUs">About Us</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start about area-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <div class="video-gallery">
                        <img src="/Statistic/img/about/video-gallery.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content text-center">
                                    <a href="https://www.youtube.com/watch?v=KssOT2QVg-M" class="video-popup"><img alt="Awesome Image" src="/Statistic/img/resources/play-btn.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="sec-title">
                            <h1>Company Overview</h1>
                            <span class="border"></span>
                        </div>
												{{{company.0.about}}}
                      </div>
                    <div class="about-tab">
                        <ul class="tab-menu">
                            <li class="active">
                                <a href="#mission" data-toggle="tab">
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>Our Mission
                                </a>
                            </li>
                            <li>
                                <a href="#vision" data-toggle="tab">
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>Our Vision
                                </a>
                            </li>
                            <li>
                                <a href="#value" data-toggle="tab">
                                    <i class="fa fa-crosshairs" aria-hidden="true"></i>Value & Ethics
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!--Start single tab pane-->
                            <div class="tab-pane active" id="mission">
                                <div class="text-holder">
                                    <p>Founded in 1956, we today have a global reach with operationns 10 countries and 10,200 employees from oveer 300 different nationns, we are focused on developing a strong Consulting field through market education.</p>
                                </div>
                                <div class="item-list">
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Smart way to work</h4>
                                            <p>Smart work and get good results</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Make a Difference</h4>
                                            <p>Create value & Make a difference</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Optimism & Happiness</h4>
                                            <p>Inspire moments of happiness</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Time Management</h4>
                                            <p>Get more results in less time</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                </div>
                            </div>
                            <!--End single tab pane-->
                            <!--Start single tab pane-->
                            <div class="tab-pane" id="vision">
                                <div class="text-holder">
                                    <p>Oveer 300 different nationns, we are focused on developing a strong Consulting field through Founded in 1956, we today have a global reach with operationns 10 countries and 10,200 employees from  market education.</p>
                                </div>
                                <div class="item-list">
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Smart way to work</h4>
                                            <p>Smart work and get good results</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Make a Difference</h4>
                                            <p>Create value & Make a difference</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Optimism & Happiness</h4>
                                            <p>Inspire moments of happiness</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Time Management</h4>
                                            <p>Get more results in less time</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                </div>
                            </div>
                            <!--End single tab pane-->
                            <!--Start single tab pane-->
                            <div class="tab-pane" id="value">
                                <div class="text-holder">
                                    <p>Different nationns, we are focused on developing a strong Consulting field through market educatio Founded in 1956, we today have a global reach with operationns 10 countries and 10,200 employees from oveer 300.</p>
                                </div>
                                <div class="item-list">
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Smart way to work</h4>
                                            <p>Smart work and get good results</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Make a Difference</h4>
                                            <p>Create value & Make a difference</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Optimism & Happiness</h4>
                                            <p>Inspire moments of happiness</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                    <!--Start single item list-->
                                    <div class="single-item-list">
                                        <div class="icon-holder">
                                            <span class="flaticon-right-arrow-in-a-circle"></span>
                                        </div>
                                        <div class="content">
                                            <h4>Time Management</h4>
                                            <p>Get more results in less time</p>
                                        </div>
                                    </div>
                                    <!--End single item list-->
                                </div>
                            </div>
                            <!--End single tab pane-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="about-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="about-lists">
                            <li class="active"><a href="/aboutUs">About Company</a></li>
                            <li><a href="/history">Company History</a></li>
                            <li><a href="/team">Our Team</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/feedback">Client Feedback</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h2>Our Brochures</h2>
                            <span class="border"></span>
                        </div>
                        <ul class="brochures-lists">
                            <li>
                                <a href="#">
                                    <span>Pdf</span>Download.Pdf<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Doc</span>Download.Txt<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->

                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar business">
                        <div class="business-enquiry">
                            <h4>For Business Enquiry</h4>
                            <p>You can also send us an email at {{partialData.primaryAddress.email}} and we’ll get in touch shortly, or You Can Call to our Troll Free Number -</p>
                            <span>{{partialData.primaryAddress.phone}}.</span>
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about area-->

<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="title pull-left">
            <h2>Sanjeewni Global Consultancy, India's Leading admission Consultant.</h2>
        </div>
        <div class="buttons pull-right">
            <a href="/apply" class="hvr-sweep-to-bottom">Apply Online</a>
        </div>
    </div>
</section>
<!--End slogan area-->
