
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/feedback.jpeg);">
	<div class="container text-center">
		<h1>Client Feedback</h1>
		<span class="border"></span>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="#">Client Feedback</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li><a href="/aboutUs">About Us</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li>Client Feedback</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start client feedback area-->
<section class="client-feedback-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="client-feedback">
                    <div class="row">
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>They have got my project on time with the competition with a highly skilled and well organized and experienced team of our professional Engineers.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/1.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Mark Vilton <span>- Villo Finance Ceo</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>We’ve been working with Statistic since 2006. It’been an excellent good relationship Whatever you make, this is the best place of our well to make it.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/2.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Clinton W Crete <span>- United States</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>Beautiful and easy to understand UI, professional animations and drag & drop functionalities are of the work that’s been done to make a top-notch.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/3.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Ernesto Ryon <span>- Sanfransisco</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>The team has focused on user experience and ease of use in every aspect of this project. Beautiful and easy to understand UI, experience and ease of use project.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/4.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Jeorge Meckay <span>- Sales Manager</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>We’ve been working with Statistic since 2006. It’been an excellent good relationship Whatever you make, this is the best place of our well to make it.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/5.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Steve Smith - <span>College Prof</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>They have got my project on time with the competition with a highly skilled and well organized and experienced team of our professional Engineers.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/6.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>William Mega  -  <span>Prog Developer</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>Beautiful and easy to understand UI, professional animations and drag & drop functionalities are a of the work that’s been done to make a top-notch.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/7.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Rebacca Garza <span>- California</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                        <!--Start single feedback-->
                        <div class="col-md-6">
                            <div class="single-feedback">
                                <div class="text-holder">
                                    <p>The team has focused on user experience and ease of use in every aspect of this project. Beautiful and easy to understand UI, experience and ease of use project.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="img/about/client-feedback/8.png" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h3>Mike Venanda  <span>- Bank Manager</span></h3>
                                        <div class="review-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single feedback-->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="about-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="about-lists">
                            <li><a href="/aboutUs">About Company</a></li>
                            <li><a href="/history">Company History</a></li>
                            <li><a href="/team">Our Team</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li class="active"><a href="/feedback">Client Feedback</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h2>Our Brochures</h2>
                            <span class="border"></span>
                        </div>
                        <ul class="brochures-lists">
                            <li>
                                <a href="#">
                                    <span>Pdf</span>Download.Pdf<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Doc</span>Download.Txt<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
\
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
										<div class="single-sidebar business">
                        <div class="business-enquiry">
                            <h4>For Business Enquiry</h4>
                            <p>You can also send us an email at {{partialData.primaryAddress.email}} and we’ll get in touch shortly, or You Can Call to our Troll Free Number -</p>
                            <span>{{partialData.primaryAddress.phone}}.</span>
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End client feedback area-->

<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="title pull-left">
            <h2>Sanjeewni Global Consultancy, India's Leading admission Consultant.</h2>
        </div>
        <div class="buttons pull-right">
            <a href="/apply" class="hvr-sweep-to-bottom">Apply Online</a>
        </div>
    </div>
</section>
<!--End slogan area-->
