
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/history.jpg);">
	<div class="container text-center">
		<h1>Company History</h1>
		<span class="border"></span>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="#">Company History</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li><a href="/aboutUs">About Us</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li>Company History</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start Company History area-->
<section class="company-history-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <div class="sec-title two">
                        <h1>Company History</h1>
                        <span class="border"></span>
                    </div>
                    <div class="img-holder-items">
                        <div class="single-img-holder-item">
                            <img src="/images/history.jpg" style="width: 433px; height: 292px" alt="Awesome Image">
                        </div>
                        <div class="single-img-holder-item">
                            <img src="/images/history.jpg" style="width: 433px; height: 292px" alt="Awesome Image">
                        </div>
                    </div>
                    <div class="text">
											{{{company.0.history}}}
                          </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="about-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="about-lists">
                            <li><a href="/aboutUs">About Company</a></li>
                            <li class="active"><a href="/history">Company History</a></li>
														<li><a href="/team">Our Team</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/feedback">Client Feedback</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h2>Our Brochures</h2>
                            <span class="border"></span>
                        </div>
                        <ul class="brochures-lists">
                            <li>
                                <a href="#">
                                    <span>Pdf</span>Download.Pdf<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Doc</span>Download.Txt<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->

                    <!--End single sidebar-->
                    <!--Start single sidebar-->
										<div class="single-sidebar business">
                        <div class="business-enquiry">
                            <h4>For Business Enquiry</h4>
                            <p>You can also send us an email at {{partialData.primaryAddress.email}} and we’ll get in touch shortly, or You Can Call to our Troll Free Number -</p>
                            <span>{{partialData.primaryAddress.phone}}.</span>
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Company History area-->

<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="title pull-left">
            <h2>Sanjeewni Global Consultancy, India's Leading admission Consultant.</h2>
        </div>
        <div class="buttons pull-right">
            <a href="/apply" class="hvr-sweep-to-bottom">Apply Online</a>
        </div>
    </div>
</section>
<!--End slogan area-->
